body{
  padding: 0;
  margin: 0;
  background-color: rgb(58, 58, 58);
}
:root {
  --cor-sombra-descricao: #5fb 2px 2px;
  --cor-texto-descricao: #000;
  --border-box-images: dashed aqua 2px;
  --cor-paragrafo: #FFF
}

body,html{
   height: 100%;
}

.masonryholder{
  display: inline-block;
  margin: 0 auto;
  columns: 3;
  column-gap: 0px;
}

.masonryblocks{
    overflow: hidden;
    border-radius: 1rem;  
    margin: 5px ;
}
.mansoryblocks img{
  width: 100%;
  height:auto;
} 
img:hover{
  opacity: 60%;
} 
  @media only screen and (max-width:600px){
  .masonryholder{
    columns: 2;
  }
  #ajustment{
   flex-flow:column wrap ;
   }
 }

.caixa_de_texto {
  display:inline-block;
  box-sizing: border-box;
  height: fit-content;
  width: 25rem;  
  color: var(--cor-paragrafo);
  margin: 10px 5px 10px 5rem;
  border: solid 1px black;
  border-radius: 0.5em;
}

.caixa_de_texto h2{
  font-family: "Staatliches", sans-serif;
  font-size: 2em;
  text-align: center;
  color: var(--cor-texto-descricao);
  text-shadow: var(--cor-sombra-descricao);
}

.caixa_de_texto p {
  text-align: center;
  text-align: left;
  margin-left: 15px;
  font-size: 1.4rem;
  font-family: 'Roboto Condensed', sans-serif;
}

#ajustment{
  display: flex;
}

#container{
  display: flex;
  justify-content: center;
}